* { margin:0; padding:0; box-sizing:border-box; }
body {
    font-family: Helvetica, sans-serif;
    color: #555F61;
    text-align: center;
}
h1 {
    font-size: 90px;
   
}

h2 {
    font-size: 30px;
    font-weight: normal;
}
h3{
    font-size:20px;
    font-weight:normal;
    color: #231e1e;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
.hero {
    background: url("kelsey-hamon-being.jpg");
    background-size: cover;
    color: white;
}
#herotext {
    color: white;
    background: rgba(0,0,0,.5);
    padding-top: 300px;
    padding-bottom: 300px;
    
}

#herotext #logo {
    font-size: 100px;
}

#herotext #slogan {
    font-size: 30px;
    font-weight: lighter;
    padding-top: 60px;
    padding-bottom: 80px;
}

#button {
    font-size: 15px;
    color: black;
    background-color: white;
    width: 10%;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.statement {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 20px;
}
